# Source

- Udemy Course (Data Science and Machine Learning Basic to Advanced)

**Pandas** - **Panel Data and Python Data Analysis**

it is a python library for working with data sets.
it has functions for analyzing, exploring, and manipulating data.

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
# Series - Like a column in a table
# 1-D array

a = [1,7,2]
var = pd.Series(a)
print(a)
print(var)
print()

b= {"day1":'Monday', "day2":'Tuesday', "day3": 3, "day4": 'Friday'}
var2 = pd.Series(b)
print(b)
print(var2)

[1, 7, 2]
0    1
1    7
2    2
dtype: int64

{'day1': 'Monday', 'day2': 'Tuesday', 'day3': 3, 'day4': 'Friday'}
day1     Monday
day2    Tuesday
day3          3
day4     Friday
dtype: object

In [ ]:
# DataFrame - 2D Array / Table with rows and columns

data = {
    "Month": ['Jan','Feb','Mar','Apr','May','June'],
    "Day": ['Mon', 'Tue', 'Wed', 'Thur','Fri','Sat']
}

df = pd.DataFrame(data)
print(data)
print(df)
print()

{'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June'], 'Day': ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat']}
  Month   Day
0   Jan   Mon
1   Feb   Tue
2   Mar   Wed
3   Apr  Thur
4   May   Fri
5  June   Sat

In [ ]:
# Loacte Row

r0= df.loc[0]
print(r0)
print()

print(df.loc[2])
print()

print(df.loc[[0,1,2]])
print()

Month    Jan
Day      Mon
Name: 0, dtype: object

Month    Mar
Day      Wed
Name: 2, dtype: object

  Month  Day
0   Jan  Mon
1   Feb  Tue
2   Mar  Wed

In [ ]:
# Read CSV Files

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas/SalaryData.csv')
print(df)
print()

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:


df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas/SalaryData.csv')
print(df)
print()

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
# Analyzing Data Frames

  # Viewing the data from the Top - head(n)
  # Viewing the data from the Bottom - tail(n)
  # Info about the Data - info()
  # Describe - it will works only with numerical data (count, mean, std, min, max)
  # Data Correlations - corr()


print('Head')
print(df.head(10))
print()

print('Tail')
print(df.tail(10))
print()

print(df.info())
print()

print(df.describe())
print()

print(df.corr())
print()

Head
   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

Tail
    YearsExperience    Salary
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes
None

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000